chibi-build
audioGraph/sources.tmp.cpp
vfxGraph/sources.tmp.mm
vfxGraph/sources.tmp.cpp
vfxGraph/vfxNodes_all.h
audioGraph/audioNodes_all.h
veem-osc.xml
settings.xml
tests/data/deepbelief/jetpac.ntwk
tests/data/deepbelief/super-zoom-craze.mp4
newpath.mp4
*.cache
3rdparty/libsdl2-support/events_all.c
3rdparty/libsdl2-support/render_all.c
3rdparty/libsdl2-support/sdl_events.c
3rdparty/libsdl2-support/sdl_joystick.c
3rdparty/libsdl2-support/sdl_libm.c
3rdparty/libsdl2-support/sdl_pthread.c
3rdparty/libsdl2-support/sdl_render.c
3rdparty/libsdl2-support/sdl_stdlib.c
3rdparty/libsdl2-support/sdl_video.c
3rdparty/libsdl2-support/sdl_video_cocoa.m
3rdparty/libsdl2-support/stdlib_all.c
3rdparty/libsdl2-support/video_all.c
3rdparty/libsdl2-support/video_cocoa_all.m
3rdparty/msdfgen/msdfgen_all.cxx
users/marcel/gltf1/data/ftm
3rdparty/FreeImage-support/FreeImage_LibJPEG_all.c
3rdparty/FreeImage-support/FreeImage_LibOpenJPEG_all.c
3rdparty/FreeImage-support/FreeImage_LibPNG_all.c
3rdparty/FreeImage-support/FreeImage_MetaData_all.cpp
3rdparty/FreeImage-support/FreeImage_Toolkit_all.cpp
3rdparty/FreeImage-support/FreeImage_all.cpp
delaunay_all.cpp
audioGraph/conglomerates/audioNodes4D-1.6_all.h
audioGraph/conglomerates/audioNodes_all.h
audioGraph/conglomerates/binaural_all.cpp
video_uikit_all.m
kinect_all.h
vfxNodes_all-mac.h
binaural_all.cpp
gx-opengl-all.cpp
users/marcel/gltf1/data/scenes
refine/data/editor-settings
3rdparty/libsdl2-support/conglomerates
users/marcel/ovr-cubes/data/Secret of Mana
users/marcel/ovr-cubes/data/binaural
1stparty/libwebrequest/data/testfile*
users/marcel/sceneedit1/data/out
.vscode

build/
*.blend1
users/marcel/bilateralFilter1/data/output
