[submodule "libjsusfx"]
	path = libjsusfx
	url = https://github.com/marcel303/jsusfx
[submodule "3rdparty/PS3EYEDriver"]
	path = 3rdparty/PS3EYEDriver
	url = https://github.com/marcel303/PS3EYEDriver.git
[submodule "chibi"]
	path = chibi
	url = https://github.com/marcel303/chibi.git
[submodule "3rdparty/libsdl2"]
	path = 3rdparty/libsdl2
url=https://github.com/marcel303/SDL-mirror.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/marcel303/imgui
[submodule "3rdparty/ImGuiColorTextEdit"]
	path = 3rdparty/ImGuiColorTextEdit
	url = https://github.com/marcel303/ImGuiColorTextEdit
[submodule "3rdparty/box2d"]
	path = 3rdparty/box2d
	url = https://github.com/erincatto/Box2D
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdparty/nanovg"]
	path = 3rdparty/nanovg
	url = https://github.com/marcel303/nanovg.git
[submodule "3rdparty/libusb"]
	path = 3rdparty/libusb
	url = https://github.com/libusb/libusb.git
[submodule "3rdparty/oscpack"]
	path = 3rdparty/oscpack
	url = https://github.com/marcel303/oscpack.git
[submodule "3rdparty/syphon"]
	path = 3rdparty/syphon
	url = https://github.com/marcel303/Syphon-Framework.git
[submodule "3rdparty/zstd"]
	path = 3rdparty/zstd
	url = https://github.com/facebook/zstd
	branch = release
[submodule "3rdparty/qoi"]
	path = 3rdparty/qoi
	url = https://github.com/phoboslab/qoi.git
