<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Critical Wave</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Game hacks</string>
			<key>FooterText</key>
			<string>Some of these settings require the game to be restarted before taking effect.</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Graphics: Invert colors</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>addonColorInvert</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>TrueValue</key>
			<integer>1</integer>
			<key>FalseValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Title</key>
			<string>Graphics: Whites for colors</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>addonColorWhites</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>TrueValue</key>
			<integer>1</integer>
			<key>FalseValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Title</key>
			<string>Game speed x1.5</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>addonSpeed150</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>TrueValue</key>
			<integer>1</integer>
			<key>FalseValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Title</key>
			<string>Game speed x2</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>addonSpeed200</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>TrueValue</key>
			<integer>1</integer>
			<key>FalseValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Title</key>
			<string>Graphics: Emboss filter</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>addonEmboss</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>TrueValue</key>
			<integer>1</integer>
			<key>FalseValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Utility</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Reset notifications</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>utilResetNotifications</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>TrueValue</key>
			<integer>1</integer>
			<key>FalseValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Acknowledgement</string>
			<key>FooterText</key>
			<string>(C) 2012 Grannies Games</string>
		</dict>
	</array>
</dict>
</plist>
