<settings>
  <rule_list>
    <rule type="gcc_cpp" />
  </rule_list>
  <dep_scanner_list>
    <dep_scanner extension="cpp" scanner="cpp_cached" />
    <dep_scanner extension="h" scanner="cpp_cached" />
  </dep_scanner_list>
  <include_list>
    <dir path="[build_dir]libgrs/libgrs_cpp" />
    <dir path="[build_dir]libgg" />
    <dir path="[build_dir]libiphone" />
    <dir path="[build_dir]prototypes/vecrend" />
    <dir path="[build_dir]tools/atlcompiler" />
    <dir path="[build_dir]tools/fontcompiler" />
    <dir path="[build_dir]tools/pkgcompiler" />
    <dir path="[build_dir]tools/rescompiler" />
    <dir path="[build_dir]tools/tgatool" />
    <dir path="[build_dir]tools/veccompiler" />
    <dir path="[build_dir]users/marcel/vincent" />
    <dir path="[build_dir]usg" />
    <dir path="[build_dir]usg/Classes" />
    <dir path="[build_dir]usg/Classes/Game" />
  </include_list>
  <source_list>
    <dir path="[build_dir]libgrs/libgrs_cpp/" filter_extension="cpp" recursive="1" />
    <dir path="[build_dir]libgg/" filter_extension="cpp" recursive="1" />
    <dir path="[build_dir]prototypes/vecrend/" filter_extension="cpp" recursive="1" />
    <dir path="[build_dir]tools/atlcompiler/" filter_extension="cpp" recursive="1" />
    <dir path="[build_dir]tools/fontcompiler/" filter_extension="cpp" recursive="1" />
    <dir path="[build_dir]tools/pkgcompiler/" filter_extension="cpp" recursive="1" />
    <dir path="[build_dir]tools/rescompiler/" filter_extension="cpp" recursive="1" />
    <dir path="[build_dir]tools/tgatool/" filter_extension="cpp" recursive="1" />
    <dir path="[build_dir]tools/veccompiler/" filter_extension="cpp" recursive="1" />
    <dir path="[build_dir]users/marcel/vincent/" filter_extension="cpp" recursive="1" />
    <dir path="[build_dir]usg/Classes/" filter_extension="cpp" recursive="1" />
  </source_list>
  <exclusion_list>
    <file_name name="DebrisMgr.cpp" />
    <file_name name="test_tga.cpp" />
    <file_name name="EntitySpawn.cpp" />
    <file_name name="_Util_Color.cpp" />
    <file_name name="GameView.cpp" />
    <file_name name="OpenGLState.cpp" />
    <file_name name="View_PauseTouch.cpp" />
    <file_name name="View_ScoresPSP.cpp" />
    <file_name name="Menu_ScoresPSP.cpp" />
    <file_name name="GameView_Psp.cpp" />
    <file_name name="Graphics_Psp.cpp" />
    <file_name name="PspFileStream.cpp" />
  </exclusion_list>
</settings>